{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../group-information"
  }) }}
{% endblock %}


{% block content %}


    <div class="govuk-width-container">
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <span class="govuk-caption-l">Create a group</span>
            <h1 class="govuk-heading-l">Check details of group</h1>
            
            <h2 class="govuk-heading-m">Group details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Accredited Programme
                </dt>
                <dd class="govuk-summary-list__value">
                 Building Better Relationships (BBR)
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Group name
                </dt>
                <dd class="govuk-summary-list__value">
                  BBR/LEEDS/11/EVE
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Group start date
                </dt>
                <dd class="govuk-summary-list__value">
                  27 March 2024
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Length of group (in weeks)
                </dt>
                <dd class="govuk-summary-list__value">
                  12
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What days will the group run?
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Monday</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Start time
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">9am</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  End time
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">12pm</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where will the group take place?
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Newcastle Probation Centre</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
              </div>
            </dl>
           
          <!--    <form action="/form-handler" method="post" novalidate>
              <input type="hidden" name="answers-checked" value="true">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </form>

          -->


        {{ govukButton({
          text: "Continue",
          href: "../group-list"
			  }) }}

          </div>
        </div>
      </main>
    </div>

  </div>
</div>



{% endblock %}
