{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container">

	<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
	  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-full">
  
	  <!-- Header -->
		  <div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<span class="govuk-caption-l">BBR/LEEDS/08/EVE/THURS/060723</span>
				<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
					Building better relationships
				</h1>
		
				
				<p class="govuk-body">Capacity: 15
				</p>
				<p class="govuk-body">Allocated: 15</p>
				<p class="govuk-body">Waitlist: 4</p>
		
			</div>
		
			<div class="govuk-grid-column-one-third">
				<h2 class="govuk-heading-m govuk-!-margin-bottom-2">
					Related tasks
				</h2>
				<ul class="govuk-list">
					<li>
						<a href="">
							Create a group
						</a>
					</li>

				</ul>
			</div>
		</div>
    
  
	</main>
  </div>

{% endblock %}
