{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list-standard"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <span class="govuk-caption-l">Create a group</span>
      <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="event-name">
        How many weeks will this group run?
      </label>
      </h1>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="length-weeks">
               Weeks
            </label>

            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
      </div>

    <div class="govuk-inset-text">
     This programme will end on [date]
    </div>

      <input type="hidden" name="answers-checked" value="true">
      
      {{ govukButton({
        text: "Continue",
        href: "session-schedule"
      }) }}



  </div>
</div>

{% endblock %}
