{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container">

	<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
	  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-full">
  
		<h1 class="govuk-heading-l"> 
		  Assess a person
		</h1>
  
		<p class="govuk-body-l">A design history of the 'Assess' journey.</p>
  
	  <!-- <details class="govuk-details" data-module="govuk-details">
		  <summary class="govuk-details__summary">
			<span class="govuk-details__summary-text">
			  User research, content docs and flow diagrams.
			</span>
		  </summary>
		  <div class="govuk-details__text">
			<p class="govuk-body govuk-!-margin-bottom-2">All links open in a new browser window or tab.</p>
			<p class="govuk-body govuk-!-margin-bottom-2">User research:</p>
			<ul class="govuk-list govuk-list--bullet">
			  <li><a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">UR</a></li>
			</ul>
	  
			<p class="govuk-body govuk-!-margin-bottom-2">Copydecks:</p>
			<ul class="govuk-list govuk-list--bullet">
			  <li><a href="https://docs.google.com/spreadsheets/d/1zrVbAQ6E5Pae9wjB4_rOt-aJs5Xe3kXQP4tV8ZpGgAM/edit#gid=206032704" target="_blank" class="govuk-link govuk-link--no-visited-state">View the first content document </a> </li>
			  <li><a href="https://docs.google.com/spreadsheets/d/1FlLYdrceeCtI4rnabRoJgzxAUqSOGzLpCtJTcLC5vnE/edit#gid=1971658364" target="_blank" class="govuk-link govuk-link--no-visited-state">View the second content document </a>
			  </li>
			</ul>
		  </details> --> 
	  
  
	  <table class="govuk-table">
	  <caption class="govuk-table__caption govuk-heading-s">Prototype versions</caption>
	  <thead class="govuk-table__head">
		<tr class="govuk-table__row">
		  <th scope="col" class="govuk-table__header" width="15%">Version</th>
		  <th scope="col" class="govuk-table__header" width="15%">Status</th>
		  <th scope="col" class="govuk-table__header" width="55%">Details</th>
		  <th scope="col" class="govuk-table__header" width="15%">Links</th>
		</tr>
	  </thead>

	  <tbody class="govuk-table__body">
		<!--  version 18 -->
		<tr class="govuk-table__row">
		  <td class="govuk-table__cell">
			<a href="/assess/v2/open-referrals.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 2</a>
		  </td>
		  <td class="govuk-table__cell">
			<strong class="govuk-tag govuk-tag--grey">
				PENDING
			  </strong>
		  </td>
		  <td class="govuk-table__cell">
			<p>Based on feedback, we have iterated the original custody prototype to suit the community setting.
			</p>

	<p class="govuk-body">Design changes:</p>
	<ul class="govuk-list govuk-list--bullet">
		<li>Changed the course name to BBR</li>
	</ul>

		  </td>
		  <td class="govuk-table__cell">
			<p> </p>
		  </td>
		</tr>

		<tbody class="govuk-table__body">
			<!--  version 18 -->
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">
				<a href="/assess/v1/open-referrals.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 1</a>
			  </td>
			  <td class="govuk-table__cell">
				<span class="govuk-tag">
				  TESTED
				</span>
			  </td>
			  <td class="govuk-table__cell">
		
				<p>This journey has been imported from the custody prototype. We have decided to use this as our foundation of research in this project to help us understand what the differences are between custody and community.</p>


			  <td class="govuk-table__cell">
				<p></p>
			  </td>
			</tr>
 
	  </tbody>
	  </table>
	  </div>
	  </div>
  
	</main>
  </div>

{% endblock %}
