{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container">

	<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
	  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-full">
  
		<h1 class="govuk-heading-l"> 
		  Assess a person
		</h1>
  
		<p class="govuk-body-l">A design history of the 'Assess' journey.</p>
  
	  <!-- <details class="govuk-details" data-module="govuk-details">
		  <summary class="govuk-details__summary">
			<span class="govuk-details__summary-text">
			  User research, content docs and flow diagrams.
			</span>
		  </summary>
		  <div class="govuk-details__text">
			<p class="govuk-body govuk-!-margin-bottom-2">All links open in a new browser window or tab.</p>
			<p class="govuk-body govuk-!-margin-bottom-2">User research:</p>
			<ul class="govuk-list govuk-list--bullet">
			  <li><a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">UR</a></li>
			</ul>
	  
			<p class="govuk-body govuk-!-margin-bottom-2">Copydecks:</p>
			<ul class="govuk-list govuk-list--bullet">
			  <li><a href="https://docs.google.com/spreadsheets/d/1zrVbAQ6E5Pae9wjB4_rOt-aJs5Xe3kXQP4tV8ZpGgAM/edit#gid=206032704" target="_blank" class="govuk-link govuk-link--no-visited-state">View the first content document </a> </li>
			  <li><a href="https://docs.google.com/spreadsheets/d/1FlLYdrceeCtI4rnabRoJgzxAUqSOGzLpCtJTcLC5vnE/edit#gid=1971658364" target="_blank" class="govuk-link govuk-link--no-visited-state">View the second content document </a>
			  </li>
			</ul>
		  </details> --> 
	  
  
	  <table class="govuk-table">
	  <caption class="govuk-table__caption govuk-heading-s">Alpha concepts</caption>
	  <thead class="govuk-table__head">
		<tr class="govuk-table__row">
		  <th scope="col" class="govuk-table__header" width="15%">Concept</th>
		  <th scope="col" class="govuk-table__header" width="15%">Status</th>
		  <th scope="col" class="govuk-table__header" width="55%">Details</th>
		  <th scope="col" class="govuk-table__header" width="15%">Links</th>
		</tr>
	  </thead>

	  <tbody class="govuk-table__body">
		<!--  version 18 -->
		<tr class="govuk-table__row">
		  <td class="govuk-table__cell">
			<a href="/assess/concept-5/open-referrals.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Concept 5</a>
		  </td>
		  <td class="govuk-table__cell">
			<strong class="govuk-tag govuk-tag--grey">
				IN PROCESS
			</strong>
		  </td>
		  <td class="govuk-table__cell">
	
			<p><b>Request more information (tasklist)</b></p>
			<p>The programme team will request more information from the probation practitioner if required. The probation practitioner will then recieve a tasklist to complete.</p>


		  <td class="govuk-table__cell">
			<p></p>
		  </td>
		</tr>

	  <tbody class="govuk-table__body">
		<!--  version 18 -->
		<tr class="govuk-table__row">
		  <td class="govuk-table__cell">
			<a href="/assess/concept-4/status-history.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Concept 4</a>
		  </td>
		  <td class="govuk-table__cell">
			<strong class="govuk-tag govuk-tag--grey">
				IN PROCESS
			  </strong>
		  </td>
		  <td class="govuk-table__cell">
	
			<p><b>Live updates</b></p>
			<p>This journey includes a feature where both the programme team and probation practitioner can update the referral with different forms of additional information. </p>


		  <td class="govuk-table__cell">
			<p></p>
		  </td>
		</tr>

	  <tbody class="govuk-table__body">
		<!--  version 18 -->
		<tr class="govuk-table__row">
		  <td class="govuk-table__cell">
			<a href="https://miro.com/app/board/uXjVN79kxSQ=/?moveToWidget=3458764581164132684&cot=14" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Concept 3</a>
		  </td>
		  <td class="govuk-table__cell">
			<strong class="govuk-tag govuk-tag--green">
				IN MIRO
			</strong>
		  </td>
		  <td class="govuk-table__cell">
	
			<p><b>Request more information (form)</b></p>
			<p>This journey includes imported data plus an area for the programme team to request more information from the probation practitioner. The first iteration of this is in Miro. </p>


		  <td class="govuk-table__cell">
			<p></p>
		  </td>
		</tr>


	  <tbody class="govuk-table__body">
		<!--  version 18 -->
		<tr class="govuk-table__row">
		  <td class="govuk-table__cell">
			<a href="/assess/concept-2/open-referrals.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Concept 2</a>
		  </td>
		  <td class="govuk-table__cell">
			<strong class="govuk-tag govuk-tag--grey">
				IN PROCESS
			  </strong>
		  </td>
		  <td class="govuk-table__cell">
			<p><b>Imported data only</b></p>
			<p>This journey only contains information that has been pulled in automatically from other services. We want to test with users if this is enough to make an assessment.</p>

	<p class="govuk-body"></p>
	<ul class="govuk-list govuk-list--bullet">
	</ul>

		  </td>
		  <td class="govuk-table__cell">
			<p> </p>
		  </td>
		</tr>

		<tbody class="govuk-table__body">
			<!--  version 18 -->
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">
				<a href="/assess/concept-1/open-referrals.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Concept 1</a>
			  </td>
			  <td class="govuk-table__cell">
				<span class="govuk-tag">
				  TESTED
				</span>
			  </td>
			  <td class="govuk-table__cell">
		
				<p><b>Original custody prototype</b></p>
				<p>This journey has been imported from the custody prototype. We have decided to use this as our foundation of research in this project to help us understand what the differences are between custody and community.</p>


			  <td class="govuk-table__cell">
				<p></p>
			  </td>
			</tr>
 
	  </tbody>
	  </table>
	  </div>
	  </div>
  
	</main>
  </div>

{% endblock %}
