{% extends "layouts/main.html" %}

{% set pageName="Home" %}


{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: "/match/v1/match-design-history"
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

	<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
	  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-full">
  
	  
		  <div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<span class="govuk-caption-l">Manage allocations</span> 
				<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
					View groups
				</h1>
			</div>
		
			<div class="govuk-grid-column-one-third">
				<h2 class="govuk-heading-m govuk-!-margin-bottom-2">
					Related tasks
				</h2>
				<ul class="govuk-list">
					<li>
						<a href="create-group/select-programme.html" class="govuk-link govuk-link--no-visited-state">
							Create a group
						</a>
					</li>
				</ul>
			</div>
		</div>
  
	 
		<nav class="moj-sub-navigation" aria-label="Sub navigation">

			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
				  <a class="moj-sub-navigation__link" aria-current="page" href="all">Upcoming</a>
				</li>
			  
				<li class="moj-sub-navigation__item">
				  <a class="moj-sub-navigation__link" href="#">Current</a>
				</li>
			  </ul>
		  
		  </nav>

		  <table class="govuk-table" data-module="moj-sortable-table">

			<thead class="govuk-table__head">
			  <tr class="govuk-table__row">
		  
				<th scope="col" class="govuk-table__header" aria-sort="ascending">Group name</th>
		  
				<th scope="col" class="govuk-table__header" aria-sort="none">Programme</th>

				<th scope="col" class="govuk-table__header" aria-sort="none">Start date</th>

				<th scope="col" class="govuk-table__header" aria-sort="none">End date</th>
		  
				<th scope="col" class="govuk-table__header" aria-sort="none">Number of spaces</th>
			  </tr>
			</thead>
		  
			<tbody class="govuk-table__body">
			  <tr class="govuk-table__row">
				<td class="govuk-table__cell">
					<a href="#">
						BBR/LEEDS/02/EVE/THURS/180124
					</a>
				</td>
				<td class="govuk-table__cell" data-sort-value="6961">
					<strong class="govuk-tag govuk-tag--purple">
						BBR
					</strong>
				</td>
				<td class="govuk-table__cell">14 Feb 24</td>
				<td class="govuk-table__cell" data-sort-value="1897">14 May 24</td>
				<td class="govuk-table__cell">10</td>
			  </tr>
			  <tr class="govuk-table__row">
		  
				<td class="govuk-table__cell">
					<a href="#">
						BBR/HUDS/01/EVE/MON/180923
					</a>
				</td>
				<td class="govuk-table__cell" data-sort-value="6194">
					<strong class="govuk-tag govuk-tag--orange">
						TSP
					</strong>
				</td>
				<td class="govuk-table__cell">24 Feb 24</td>
				<td class="govuk-table__cell" data-sort-value="1913">26 May 24</td>
				<td class="govuk-table__cell">11</td>
			  </tr>
		  
			  <tr class="govuk-table__row">
				<td class="govuk-table__cell">
					<a href="/match/v1/group-information"> BBR/LEEDS/08/EVE/THURS/060723  </p>
				</td>
				<td class="govuk-table__cell" data-sort-value="5642">
					<strong class="govuk-tag govuk-tag--purple">
						BBR
					</strong>
				</td>
				<td class="govuk-table__cell">16 Feb 14</td>
				<td class="govuk-table__cell" data-sort-value="1874">16 May 24</td>
				<td class="govuk-table__cell">15</td>
			  </tr>
			</tbody>
		  </table>
		  
  
	</main>
  </div>

{% endblock %}
