{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-width-container">

	<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
	  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-full">
  
		<h1 class="govuk-heading-l"> 
		  Match
		</h1>
  
		<p class="govuk-body-l"> Match description</p>
  
	  <!-- <details class="govuk-details" data-module="govuk-details">
		  <summary class="govuk-details__summary">
			<span class="govuk-details__summary-text">
			  User research, content docs and flow diagrams.
			</span>
		  </summary>
		  <div class="govuk-details__text">
			<p class="govuk-body govuk-!-margin-bottom-2">All links open in a new browser window or tab.</p>
			<p class="govuk-body govuk-!-margin-bottom-2">User research:</p>
			<ul class="govuk-list govuk-list--bullet">
			  <li><a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">UR</a></li>
			</ul>
	  
			<p class="govuk-body govuk-!-margin-bottom-2">Copydecks:</p>
			<ul class="govuk-list govuk-list--bullet">
			  <li><a href="https://docs.google.com/spreadsheets/d/1zrVbAQ6E5Pae9wjB4_rOt-aJs5Xe3kXQP4tV8ZpGgAM/edit#gid=206032704" target="_blank" class="govuk-link govuk-link--no-visited-state">View the first content document </a> </li>
			  <li><a href="https://docs.google.com/spreadsheets/d/1FlLYdrceeCtI4rnabRoJgzxAUqSOGzLpCtJTcLC5vnE/edit#gid=1971658364" target="_blank" class="govuk-link govuk-link--no-visited-state">View the second content document </a>
			  </li>
			</ul>
		  </details> --> 
	  
		 
  
	  <table class="govuk-table">
	  <caption class="govuk-table__caption govuk-caption-xl">Prototype versions</caption>
	  <thead class="govuk-table__head">
		<tr class="govuk-table__row">
		  <th scope="col" class="govuk-table__header" width="15%">Version</th>
		  <th scope="col" class="govuk-table__header" width="15%">Status</th>
		  <th scope="col" class="govuk-table__header" width="55%">What changed</th>
		  <th scope="col" class="govuk-table__header" width="15%">Links to UR and other assets</th>
		</tr>
	  </thead>

	  <tbody class="govuk-table__body">
		<!--  version 18 -->
		<tr class="govuk-table__row">
		  <td class="govuk-table__cell">
			<a href="/match/v1/group-list" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 1</a>
		  </td>
		  <td class="govuk-table__cell">
			<strong class="govuk-tag govuk-tag--grey">
				Pending
			  </strong>
		  </td>
		  <td class="govuk-table__cell">
			<p class="govuk-label--s">
				PoPs will sit on a waitlist until they're allocated to a group
			</p>
			<p class="govuk-body">
				<a href="waitlist.html">View waitlist</a>
			</p>

		  </td>
		  <td class="govuk-table__cell">
		
		  </td>
		</tr>
	  </tbody>
	  </table>
	  </div>
	  </div>
  
	</main>
  </div>

{% endblock %}
