{% extends "layouts/hmpps.html" %}

{% set pageName="Home" %}


{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: "/match/v1/match-design-history"
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

		  <div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<span class="govuk-caption-l">Waitlist</span>
				<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
					Building Better Relationships
				</h1>
			</div>
		</div>
  
	 
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
				<li class="moj-sub-navigation__item">
				  <a class="moj-sub-navigation__link" href="all">Ready for allocation</a>
				</li>
			  
				<li class="moj-sub-navigation__item">
				  <a class="moj-sub-navigation__link" aria-current="page" href="#">On hold</a>
				</li>
			  </ul>
		  </nav>

		  <table class="govuk-table" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
			  <tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header">Select</th>
				<th scope="col" class="govuk-table__header" width="10%" aria-sort="ascending">Name/CRN</th>
		  		<th scope="col" class="govuk-table__header" width="20%" aria-sort="none">RoSH score</th>
				<th scope="col" class="govuk-table__header" width="15%" aria-sort="none">Ethnicity</th>
				<th scope="col" class="govuk-table__header" width="10%" aria-sort="none">PDU</th>
		  		<th scope="col" class="govuk-table__header" width="10%" aria-sort="none">Priority</th>
				<th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Days remaining on order</th>
			  </tr>
			</thead>
		  
			<tbody class="govuk-table__body">
		  		<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
							<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
							<label class="govuk-label govuk-checkboxes__label" for="organisation"> </label>
						</div>
					</td>
					
				<td class="govuk-table__cell">
					<a href="#">
						Darren Smith
					</a>
				</td>
		  
				<td class="govuk-table__cell" data-sort-value="6961">
					<strong class="govuk-tag govuk-tag--purple">
						High ROSH
					</strong>
				</td>
		  
				<td class="govuk-table__cell">14 Feb 24</td>
		  
				<td class="govuk-table__cell" data-sort-value="1897">14 May 24</td>

				<td class="govuk-table__cell">10</td>

				<td class="govuk-table__cell">2</td>
		  
			  </tr>
		  
			  
			</tbody>
		  </table>
		  
  
	</main>
  </div>

{% endblock %}
