{% extends "layouts/main.html" %}

{% block pageTitle %}
Referral to Becoming New Me Plus (BNM+) - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pt.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<!-- <a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a> -->
	<a href="open-referrals" class="govuk-back-link govuk-!-margin-bottom-0">Back to referrals</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Referral to Becoming New Me Plus (BNM+)</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<nav class="moj-sub-navigation" aria-label="Sub navigation">
			<ul class="moj-sub-navigation__list">
			  	<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="personal-details">Referral details</a>
				</li>

				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" aria-current="page"  href="additional-information">Additional information</a>
				</li>

				<li class="moj-sub-navigation__item">
					<a class="moj-sub-navigation__link" href="status-history">Status history</a>
				</li>
			</li>
			</ul>
		</nav>
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h2 class="govuk-heading-m">Additional information</h2>
				<h2 class="govuk-heading-m">Referral summary</h2>
			</div>
		</div>

{% endblock %}
