{% extends "layouts/main.html" %}
{% set containerClasses = "moj-special-width-container" %}

{% block pageTitle %}
Digital Prison Services - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="moj-width-container">
    <h1 class="govuk-heading-l">Accredited Programmes in Community</h1>


</div>
<div class="homepage-content">
    <div class="moj-width-container">
        <ul class="govuk-grid-row card-group">
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="/find/v1/find-design-history.html">Find a programme</a>
                    </h2>
                    <p class="govuk-body card__description">Find a suitable programme, including the information needed to determine if a person might be eligible
                    </p>
                    <p>&nbsp;</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="/refer/v1/refer-design-history.html">Make a referral</a>
                    </h2>
                    <p class="govuk-body card__description">Draft and submit a referral for a person to be assessed for a programme
                    </p>
                    <p>&nbsp;</p>
                </div>
            </li>
			<li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="/assess/assess-design-history.html">Assess a person</a>
                    </h2>
                    <p class="govuk-body card__description">Review individuals' referrals and assess suitability as required
                    </p>
                    <p>&nbsp;</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="/match/v1/match-design-history.html">Match a person</a>
                    </h2>
                    <p class="govuk-body card__description">Match suitable people to a specific programme group / schedule</p>
                    <p>&nbsp;</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Deliver a programme</a>
                    </h2>
                    <p class="govuk-body card__description">Record attendance, progress and behaviour, including post-programme work</p>
                    <p>&nbsp;</p>
                </div>
            </li>
			<li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Manage a programme</a>
                    </h2>
                    <p class="govuk-body card__description">Monitor and be notified of changes to programme information</p>
					<p>&nbsp;</p>
                </div>
            </li>
        </ul>

       

    </div>
</div>
{% endblock %}
