{% extends "layouts/main.html" %}

{% block pageTitle %}
Add additional information - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back to the tasklist</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">What is the person's availability to attend sessions?</h1>
		<form action="add-additional-information-address" method="post">
			<div class="govuk-form-group">
				<label class="govuk-hint" for="provide-additional-information">
					For example, Monday and Wednesday evenings.</label>
				<textarea class="govuk-textarea" id="provide-additional-information" name="provide-additional-information" rows="5"></textarea>
			</div>
			<button class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">Continue</button>
		</form>
    </div>
</div>
{% endblock %}
