{% extends "layouts/main.html" %}

{% block pageTitle %}
Add additional information - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
	{% include "/includes/key-details-pom.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-top-2">
	<a href="javascript:window.history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
</div> 
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
			<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
			  <h1 class="govuk-fieldset__heading">
				What is the person's preferred location to attend the programme?
			  </h1>
			</legend>
			<div id="office-hint" class="govuk-hint">
			  Select all that apply.
			</div>
			<div class="govuk-checkboxes" data-module="govuk-checkboxes">
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="Bradford" name="Bradford" type="checkbox" value="carcasses">
				<label class="govuk-label govuk-checkboxes__label" for="Bradford">
				Barnsley: Acorn House
				</label>
			  </div>
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
				<label class="govuk-label govuk-checkboxes__label" for="waste-2">
				Bradford: Bradford Probation Office
				</label>
			  </div>
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Bradford: Fraternal House
				</label>
			  </div>
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Craven: Skipton Probation Office
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Doncaster: 34 Bennetthorpe
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Doncaster: The Church View Centre
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				East Riding of Yorkshire: 1 Airmyn Road
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				East Riding of Yorkshire: Bridlington Probation Office
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Halifax: Westgate House
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Harrogate: 5-7 Haywra Crescent
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Hull: Barclays House
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Hull: Norwich House
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Kirklees: Dewsbury Probation Office
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Kirklees: Huddersfield Probation Office
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Leeds: 379 York Road
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Leeds: Waterloo House
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Northallerton Probation Office
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				North East Lincolnshire: Newchase Court
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				North Lincolnshire: 3 Park Square
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				North Lincolnshire: Scunthorpe Probation Office
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Rotherham: Unit 2, Ashley Business Court
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Scarborough: 9-25 Northway
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Sheffield: Unit 2 Hawke Street
				</label>
			  </div>			  
			  <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Sheffield: Sheffield Probation Office
				</label>
			  </div>			 
			<div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				York: York Probation Office
				</label>
			  </div>			
			 <div class="govuk-checkboxes__item">
				<input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
				<label class="govuk-label govuk-checkboxes__label" for="waste-3">
				Wakefield: 1 Burgage Square
				</label>
			  </div>
			</div>
		  </fieldset>
		  <br>
		<form action="add-additional-information-readiness" method="post">
			<button class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">Continue</button>
		</form>
    </div>
</div>
{% endblock %}
